:root {
  --color-primary-01: hsl(215, 51%, 70%);
  --color-primary-02: hsl(178, 100%, 50%);

  --color-neutral-01: hsl(217, 54%, 11%);
  --color-neutral-02: hsl(216, 51%, 16%);
  --color-neutral-03: hsl(216, 32%, 27%);
  --color-neutral-04: hsl(0, 0%, 100%);
}
